.favoritesButton {
    svg {
        fill: transparent;
        stroke: currentColor;
        stroke-width: 40px;
        pointer-events: none;
    }
    span {
        pointer-events: none;
    }
    i {
        font-style: normal;
        padding-left: 3px;
        &:empty {
            display: none;
        }
    }
    &.icon_checked {
        svg {
            fill: currentColor;
            color: inherit;
        }
    }
}
.pk-no-products {
    display: block;
}
.favorites-list:has(.product-miniature) .pk-no-products {
    display: none;
}
